# Mengakses nilai Variabel pada query()

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

# Persiapan Data Frame

In [4]:
n_rows = 5
n_cols = 5
cols =tuple('ABCDE')

df=pd.DataFrame(np.random.randint(1,20,size=(n_rows, n_cols)),
                columns=cols)
                
df

    A   B   C   D   E
0  11  15  18   5   4
1   5   3   5   8   8
2   2  12   5   5  10
3  13   4  17  17   8
4  18   7   3   2   5

# Akses Nilai Variabel pada Query ()

In [6]:
df.query('A > 5')

    A   B   C   D  E
0  11  15  18   5  4
3  13   4  17  17  8
4  18   7   3   2  5

In [7]:
retata = df['A'].mean()
retata

9.8

In [8]:
df.query('A > @retata')

    A   B   C   D  E
0  11  15  18   5  4
3  13   4  17  17  8
4  18   7   3   2  5